<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">STW</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="parts">Teile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shopingCart">Warenkorb</a>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registration">Registrieren</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="body">
  <h1>Impressum</h1>
  <div class="maincontent">
    <ul>
      <ol>
        <h2>Inhaber</h2>
        <p>Gibb Berufsfachschule<br>Lorrainestrasse 1<br>3014 Bern</p>
      </ol>
      <ol>
        <h3>Internet</h3>
        <a href="https://gibb.ch/">https://gibb.ch/</a> <br>
        <a href="https://gibb.ch/kontakt">https://gibb.ch/kontakt</a>
      </ol>
      <ol>
        <h4>Medien/Bilder</h4>
        <p>Alle genutzen Bilder sind von: <a href="https://unsplash.com/de">https://unsplash.com/de</a></p>
      </ol>
      <ol>
        <h5>Wichtig</h5>
        <p>Diese Webseite ist ein Schulprojekt und dient ausschließlich zu Bildungszwecken.<br> Alle Inhalte und Informationen sind fiktiv und nicht real. <br> Es besteht keine kommerzielle Absicht und keine Haftung für die Richtigkeit der Angaben.</p>
      </ol>
    </ul>
  </div>
</div>
<footer  id="impressumFooter" class="bg-dark text-center text-white w-100">
  <div class="p-4 pb-0" style="background-color: rgb(45,48,53);">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Für den Newsletter anmelden</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Emailadresse</label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Abonnieren
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyrigh,
    <a class="text-white" href="impressum">impressum</a>
  </div>
</footer>

