.maincontent {
  margin-top: 20px;
  margin-left: 0px;
  height: 600px;
  display: flex;
  justify-content: left;
  align-items: left;
}

h1{
  margin-top: 20px;
  margin-left: 64px;
}

h2, h3, h4{
  font-size:large;
}

h4{
  margin-top: 20px;
}

h5{
  color: red;
  font-weight: bold;
  margin-top: 50px;
}

#impressumFooter {
  position: fixed;
  left: 0;
  bottom: 0;
}
