<!-- Navbar-Komponente -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Brand-Link zur Startseite -->
    <a class="navbar-brand" href="#">STW</a>
    <!-- Toggler für den Navbar-Button in kleineren Ansichten -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar-Collapse, enthält die Navigationslinks -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Haupt-Navigationslinks -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="parts">Teile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="shopingCart">Warenkorb</a>
        </li>
      </ul>
      <!-- Zusätzliche Navigationslinks -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registration">Registrieren</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hauptinhalt der Seite -->
<body>
  <div class="container mt-5">
      <!-- Überschrift für die Suche -->
      <h2 class="mb-4">Suche Teile für dein Auto</h2>
      <!-- Formular für die Teile-Suche -->
      <form>
          <div class="form-row">
              <div class="form-group col-md-4" id="company">
                  <label for="marke">Automarke</label>
                  <!-- Dropdown für Automarke -->
                  <select id="marke" class="form-control">
                      <option selected>Wählen...</option>
                      <option>BMW</option>
                      <option>Mercedes</option>
                      <option>Audi</option>
                      <option>Volkswagen</option>
                      <option>Ford</option>
                  </select>
              </div>
              <div class="form-group col-md-4" id="model">
                  <label for="modell">Modell</label>
                  <!-- Eingabefeld für Modell -->
                  <input type="text" class="form-control" id="modell" placeholder="Modell">
              </div>
          </div>
          <!-- Such-Button -->
          <div class="form-group">
              <button type="submit" id="searchButton" class="btn btn-primary">Suchen</button>
          </div>
      </form>
  </div>
</body>

<!-- Produkt-Grid für angezeigte Teile -->
<div class="productsGrid">
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="/images/turbocharger.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Turbolader-V2 M</h5>
      <p class="card-text">459.00 CHF</p>
    </div>
  </div>
  <!-- Weitere Karten für Produkte hinzufügen -->
</div>

<!-- Footer-Bereich -->
<footer id="impressumFooter" class="bg-dark text-center text-white w-100">
  <div class="p-4 pb-0" style="background-color: rgb(45,48,53);">
    <!-- Newsletter-Anmeldeformular -->
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Für den Newsletter anmelden</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Emailadresse</label>
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Abonnieren
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <!-- Copyright-Information -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright,
    <a class="text-white" href="impressum">impressum</a>
  </div>
</footer>
